li {
  list-style: none;
}

/*.undone {*/
/*  list-style: none;*/
/*}*/

/*.done {*/
/*  list-style: none;*/
/*  text-decoration: line-through;*/
/*}*/

.strikethroughTodo{
  text-decoration: line-through;
  color: darkgray;
}
